/*BASICS STYLES FOR ANY DEVICES*/
body {
    background: #fff;
    color: gray;
}
#wrapper, footer {
    /*^ centralize the whole content ^*/
    margin: 0 auto;
    width: 90%;
}
#wrapper {
    /*whole content flexible*/
    display: flex;
    flex-wrap: wrap;
}
aside {
    background: #363636;
    color: white; 
    height: auto;
}
aside ul li {
    list-style: none;
    margin-bottom: 25px;
}
aside a {color: inherit;}

#menu-icon {
    margin-bottom: 15px;
    background: #492361;
    padding: 7px;
}
#menu-icon span {
    border-bottom: 1px solid white;
    display: block;
    margin: 5px;
    width: 35px;
}

#menu-close {
    padding: 5px;
}
#menu-close li {
    background: #44394a;
    /* background: linear-gradient(rgb(82, 35, 82),#492361, #44394a);*/
    border-radius: 20px;
    padding: 5px;
    text-align: center;
}

main {
    width: 70%;
    margin-left: 35px;
    flex: 3;
}

.header-pages nav {
    margin-bottom: 20px;
    width: 650px;
    background: #f2ebf7
}

nav a , nav button {
    color:  #363636;
    text-decoration: none;
    font-size: 1.3em;
    padding: 10px;
}
nav a:hover {
    background: rgb(56, 39, 68);
    color: white;
    border-radius: 20px;
}
#aboutme {
    border-radius: 20px;
    padding: 3px;
    
}
.container {
    display: flex;
}
.box {
    background: rgb(56, 39, 68);
    margin: 2px;
    color: white;
    padding: 15px;
    box-sizing: border-box;
    width: 160px;
}

.second-container .box {
    background: #44394a;
}

.box a {
    color: white;
    text-transform: capitalize;
    text-decoration: none;
}


.bio {
    padding: 5px;
    background: #44394a;
    color: white;  
    width: 10%;
    flex: 2;
}
.bio-header {
    display: flex;
}
figure img {
    max-width: 70%;
    height: auto;
}
.social  img  {
    max-width: 48px;
    height:48px;
    box-sizing: border-box;
    padding: 5px;
}


article h3 {
    text-transform: capitalize;
    color:rgb(176, 144, 212);
}
article p {
    line-height: 1.5;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
}
.container img {
    max-width: 100%;
}
footer {
    background: #363636;
    display: block;
    text-transform: uppercase;
    flex-basis: 100%;
    box-sizing: border-box;
}
footer div {
    width: 0 auto;
    text-align: center;
}
footer ul {
    text-align: center;
    list-style: none;
}
footer a {
    color:  white;
}
/*STYLES for TABLETS phone*/
@media (max-width: 768px) {

}
/*STYLES for mobile phone*/
@media (max-width: 480px) {
    body, #wrapper, footer {
        width: 100%;
        margin: 0;
        box-sizing: border-box;
    } 
    #menu-close {
        padding: 2px;
    }
    #menu-close li {
        padding: 2px;
    }
    main {
        margin: 0;
        width: 80%;
    }
    .header-pages {
        margin-left: 0;
    }
    
    .header-pages nav {
        width: 100%;
    }
    nav a , nav button {
        font-size: 1.1em;
        padding: 5px;
    }
    .container, .second-container {
        margin: 0;
    }
    .box {
        padding: 5px;
        box-sizing: border-box;
        width: 80px;
    }
}

@media (max-width: 360px) {
    footer {
        margin: 0;
    }
    main {
        margin: 0;
        width: 60%;
    }
    .box {
        padding: 3px;
        box-sizing: border-box;
        width: 60px;
        
    }

}