/* /*BASE STYLES FOR ANY DEVICES*/
body {
    font-size: 100%;
    background: #fff;
    color: gray;
}

img , video{
    max-width: 100%;
    box-sizing: border-box;
    margin: auto;
}
#wrapper, footer {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
/*
*
*
***
**SIDE-MENU
***
*
*/
.side-menu {
    background: #363636;
    color: white; 
    height: auto;
}
.side-menu ul li {
    list-style: none;
    margin-bottom: 25px;
}
aside a {color: inherit;}


#menu-icon {
    margin-bottom: 15px;
    background: #492361;
    padding: 7px;
}
#menu-icon span {
    border-bottom: 1px solid white;
    display: block;
    margin: 5px;
    width: 35px;
}

#menu-close {
    padding: 3px;
    height: auto;
}
#menu-close li {
    background: #44394a;
    border-radius: 20px;
    padding: 3px;
    text-align: center;
}
/*
*
***
***MAIN
***
*
*/
main {
    width: 70%;
    margin-left: 35px;
    flex: 3;
}

.header-pages, .big-sectioon-container, .bio {
    width: 650px;    
}

.header-pages nav {
    margin-bottom: 20px;
    width: 650px;
    background: #f2ebf7
}
nav a {
    color:  #363636;
    text-decoration: none;
    font-size: 1.3em;
    padding: 10px;
}

nav a:hover {
    background: rgb(56, 39, 68);
    color: white;
    border-radius: 20px;
}

.container {
    display: flex;
}
.box {
    background: rgb(56, 39, 68);
    margin: 2px;
    color: white;
    padding: 15px;
    box-sizing: border-box;
    width: 160px;
    /* border-radius: 20px / 10px;  optional */  
}

.second-container .box {
    background: #44394a;
}

.box a {
    color: white;
    text-transform: capitalize;
    text-decoration: none;
}

.bio {
    background: #44394a;
    color: white;  
    box-sizing: border-box;
    padding: 10px;
    border-radius: 20px / 10px;    
}
.bio-header {
    display: flex;
    justify-content: space-around;
    background: #363636;
}
figure {
    flex: 1;
}
figure img {
    max-width: 100%;
    height: auto;
}
table {
    flex: 2;
    height: auto;
    margin: 10px;    
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    background: #f2ebf7;
    color: #363636;
    padding: 10px;
}
th {
    background: #44394a;
    color: #f2ebf7;
}
.social  img  {
    max-width: 48px;
    height:48px;
    box-sizing: border-box;
    padding: 3px;
    border-radius: 20px / 10px;
}


section h3 {
    text-transform: capitalize;
}
section p {
    line-height: 1.5;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
}
.container img {
    max-width: 100%;
}
/*
*
*
**ASIDE PUBS ADD NEWS
****
*
*/
.side-pub-ads-news {
    width: 40%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 20px;
    background: #f2ebf7;
}
.side-pub-ads-news div, .side-pub-ads-news nav {
    margin: 10px auto;
    border: 3px solid transparent;
    background: #fff;
}
.side-pub-ads-news textarea {
    width: 90%;
}
/*
*
***
***END OF THE MAIN
***
*
*/

/*
*
*
****
**FOOTER SECTION AND ITS CHLDREN**
*****
*
*/
footer {
    background: #363636;
    display: block;
    text-transform: uppercase;
    flex-basis: 100%;
    box-sizing: border-box;
}
footer div {
    width: 0 auto;
    text-align: center;
}
footer ul {
    text-align: center;
    list-style: none;
}
footer a {
    color:  white;
} 
.footer-sections {
    display: flex;
    color: #fff;
    justify-content: space-between;
    margin: 10px;
    text-transform: initial;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.subox {
    width: 30%;
}
.subox-2 {
    width: 25%;
}
.subox-2 button {
    background: darkred;
    color: #f2ebf7;
    font-weight: bold;
}

/************STYLES for mobile phone************/
@media  (max-width: 360px)/* , (max-width: 478px */ {
    #wrapper {
        display: flex; 
        flex-wrap: wrap;
        flex-basis: 100%;
        margin: 0;
        box-sizing: border-box;
    }
    /*
    //these are #wrapper direct child
    // taking their full width
    */
    main, aside {
        flex-basis: 100%;
    }
    
     .header-pages {
        width: 100%;
        box-sizing: border-box;
    }
    .header-pages nav  {
        background: #f2ebf7;
        
    }
    .side-menu {
        display: none;
        font-size: .7em;
        width: 16%;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    aside ul li {
        margin-bottom: 15px;
    }
    .box {
        padding: 3px;
        box-sizing: border-box;
        width: 50%;
        font-size: .8em;
        
    }
    .bio {
        margin-bottom: 20px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}


/*PHABLET= =NOTE 4, IPHONE 6 PLUS, NEXUS 6*/
@media  (max-width: 480px) and (orientation: landscape) {
    body {
        /*so that .bio can have its space*/
        position: relative;        
    }
    body, #wrapper, footer {
        width: 100%;
        margin: 0 auto;
        box-sizing: border-box;
    } 
    
    #menu-close {
        padding: 2px;
    }
    #menu-close li {
        padding: 2px;
    }
    main {
        margin: 0;
        width: 80%;
    }

    .header-pages {
        margin-left: 0;
    }
    
    .header-pages nav {
        width: 100%;
    }
    nav > a {
        color: rgb(176, 144, 212);
        background: #44394a;
        font-size: 1.1em;
        display: block;
        padding: 5px;
        text-align: center;
        border-top: 1px solid rgb(56, 39, 68);
        border-bottom: 1px solid white;
    }
    nav a:nth-child(even) {
         color: white;
    }
    
    
    .container, .second-container {
        margin: 0;
    }
    .box {
        padding: 5px;
        box-sizing: border-box;
        width: 100px;
    }
    .bio {
        margin-bottom: 20px;
    }
    
}
/***********STYLES for TABLETS phone************/















    

