body {
    background: url(../imgfiles/grid.jpg);
}


body, div#show {
    text-align: center;
}

li {
    list-style: none;
}
h1 {
    color: blue;
}

.hide {
    display: none;
}

img {
    width: 200px;
    text-align: center;
    display: inline-flex;
}

.hideoff {
    display: block;
    width: 350px;
    text-align: center;
}

