/ *normalize or reset  style*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  background-image: url("../imgfiles/black.jpg");
  font-size: 100%;
  line-height: 1.42857143;
}

a {
  text-decoration: none;
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}

img {max-width: 100%;}

h1 {text-shadow: -3px 2px 0px #514d46; }

/*the header section and child*/

header nav {
  display: flex;
  background-color: gray;
}

header nav > a {
  flex: 1;
  border-radius: 12px;
  font-size: 100%;
}

header > nav a:hover {
background-color: #3a3e38;
background-color: rgba(47, 54, 48, .7); }

figure {
  display: flex;
  flex-wrap: wrap;
}

figure > img {
  flex-grow: 1;
  flex-basis: 100%;
  height: auto;
  
}

figcaption {
    font-size: 1.9em;
    text-transform: uppercase;
}


section.gallery {
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
  background: beige;   
  -ms-flex-align: center;
  -webkit-flex-align: center;
  max-height: 50%;
  justify-content: space-between;
}

section.gallery div  {
  flex-basis: 25%;
  background: white;
  border: gainsboro 1px solid;
  flex:1 auto;
  margin:1em;
}

.sidebar {
  background: gainsboro;
  border: 1px #3a3e38 groove;
  flex: 1;
}

/*phone s4*/
 @media and screen (max-height: 480px) {
        header nav {
        display: block;
        background-color: gray;
}

 }
@media all and (max-width: 600px) {
/* Too narrow to support three columns */
section.gallery div { flex-flow: column; }

#main > article, #main > nav, #main > aside {
/* Return them to document order */
flex-order: 0; 
width: auto;
}
}
