body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* #wrapper {
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
} */

.nav-menu-bar {
    width: 80%;
    background: rgb(60, 52, 58);
    margin: 0 auto;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
}

nav.nav-menu-bar a {
    padding: 15px;
    color: white;
    font-size: 18px;
    text-decoration: none;
}

nav.nav-menu-bar input {
    border-radius: 10px;
    padding: 2px;
}

nav.nav-menu-bar button {
    background: rgb(126, 23, 23);
    color: aliceblue;
}

main {
    width: 80%;
    margin: 0 auto;
    background: rgb(229, 233, 233);
    box-sizing: border-box;
}

section.slideshow img {
    width: 100%;
    margin: auto;
    height: 400px;
    border: 1px inset rgb(60, 52, 58);
}

main header {
    background: rgba(37, 36, 46, 0.973);
    color: whitesmoke;
    padding: 20px;
    line-height: 17px;
}

header p,
article p,
section div {
    line-height: 17px;
    width: 80%;
    margin: 10px auto;
    box-sizing: border-box;
}

section div {
    width: 100%;
    background: white;
    display: flex;
    padding: 20px;
    border-left: 20px outset rgb(172, 165, 165);
    border-right: 20px outset rgb(172, 165, 165);
    box-sizing: border-box;
}

section.container {
    display: flex;
    box-sizing: border-box;
}

section.container>* {
    margin: 10px auto;
    flex: 1;
    box-sizing: border-box;
}

.first-child {
    border-right: 10px inset silver;
}

footer {
    background: rgb(43, 47, 58);
    background: rgba(37, 36, 46, 0.973);
    display: block;
    text-transform: uppercase;
    flex-basis: 100%;
    box-sizing: border-box;
    width: 80%;
    margin: 0 auto;
}

footer div {
    text-align: center;
    color: rgb(117, 112, 136);
}

footer ul {
    text-align: center;
    list-style: none;
}

footer a {
    color: white;
}

@media (max-width: 320px) , (max-width: 480px) {
    .header-pages,
    main,
    .container {
        width: 100%;
    }
    .nav-menu-bar {
        width: 100%;
        box-sizing: border-box;
        padding: 3px;
    }
    .nav-menu-bar>* {
        display: block;
        width: 85%;
        margin: 7px auto;
        border-left: 1px solid burlywood;
        border-right: 1px solid white;
        padding: 3px;
        text-transform: uppercase;
    }
    .nav-menu-bar input,
    .nav-menu-bar button {
        width: 93%;
    }
    .nav-menu-bar button {
        background: rgb(60, 52, 58);
        color: antiquewhite;
        border-left: 10px solid white;
        border-right: 10px solid white;
        margin: 5px;
    }
    .slideshow {
        width: 95%;
    }
    .slideshow img {
        height: 210px;
    }
    .container {
        display: block;
        box-sizing: border-box;
    }
    footer {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    #wrapper {
        width: 100%;
    }
}

/* Small devices (tablets, 768px and up) */

/* @media (min-width: 768px) {
    .container {
        width: 750px;
    }
} */

/* Medium devices (desktops, 992px and up) */

/* @media (min-width: 992px) {
    .container {
        width: 970px;
    }
*/

/* Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .pages-wrapper {
        width: 1170px;
    }
    nav.nav-menu-bar input {
        margin-left: 100px;
    }
}

@media screen and (min-width: 1024px) {
    /* Estilos CSS*/
}