@import "reset.css";

body {
    text-align: center;
    background: steelblue;
    margin: 0 auto;
    color: white;
}

main {
    background: rgb(221, 220, 255);
    max-width: 80%;
    margin: 0 auto;
}
h3 {
    text-transform: uppercase;
}
#tweetbox {
    font-size: 1em;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
}  



div {
    width: 50%;
    background: rgb(0, 0, 36);
    border-radius:  40px;
    padding: 5px;
    margin: 10px;
}