body {
    margin: 0 auto;
   text-align: center;
   color: rgb(0, 0, 36); 
}

main {
    background: cornsilk;
    max-width: 800px;
    margin: 0 auto;
}
h3 {
    text-transform: uppercase;
}
#tweetbox {
    background: wheat;
    width: 40%;
    height: 200px;
    border: 1px skyblue groove;
    border-radius: 5px 5px;
    color: rgb(0, 0, 36);
    font-size: 1.3em;
    padding: 15px;
    margin: 0 auto;
}

textarea {
    display: block;
    margin: 10px auto;
    direction: ltr;
}