
/*base style*/
/*selecting all element*/
* {
    margin: 0;
    padding: 0;
    /*respect the width limit*/
    box-sizing: border-box;
    /*keep original size*/
    font-size: 100%;;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    font-size: 100%;
}

header {
    background: #eee;
    border-bottom: 1px groove silver;
    text-transform: capitalize;
    display: block;
    box-sizing: border-box;
    padding: 15px;
}

img {
    max-width: 100%;
    margin: 0 auto;
}
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(8, 8, 102, 0.73);
}
h1, ul, input {
    margin: 15px;
    width: 80%;
}


header {
    padding: 10px auto;
    display: flex;
    justify-content: space-around;
    background: linear-gradient(gainsboro, seashell, #eef);
    position: static;
    top: 0;
}
.heading {
    font-size: 2.5em;
    color: navy;
    flex: 2;
    margin-top: 10px;

}
#additems {
    max-width: 48px;
    max-height: 48px;
    color: #3a09c5;
    border: 1px groove gainsboro;
    border-radius: 15px;
    flex: 1;
    text-align: center;
    margin-top: 14px;
}
 /*END OF THE HEADER SECTION*/
  /*MAIN SECTION*/
main, header, footer {
    margin: 0 auto;
    max-width: 35%;
}

#box-input, input, button {
    display: inline;
}


input {
    background: linear-gradient(darkblue, slateblue, navy);
    color: white;
    padding: 9px;
    font-weight: bold;
    border-radius: 10px;
}
input[type="image"] {
    max-width: 48px;
    max-height: 48px;
}
.hide{
    display: none;
}
.show {
    display: block;
}
ul {
    list-style: disc;
    margin: 5px auto;
}
li {
    color: navy;
    font-size: 18px;
    list-style: disc;
    padding: 2px;
}
#ok {
    margin-left: 15px;
    color: white;
    min-width: 55px;
    background: linear-gradient(darkblue, slateblue, navy);
    font-size: 19px;
}
#show-bottom {
    margin-bottom: 0;
    background: linear-gradient(darkblue, slateblue, navy);
    color: gold;
    padding: 5px;
}

footer {
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 33%;
    width: 100%;
    margin: 0 auto;
}
footer ul {
    width: 100%;
    margin-top: 0;
    text-align: center;
    background: linear-gradient(darkblue, slateblue, navy);
 }  
 footer ul li {
    list-style: none;
    width: 100%;
    border-bottom: 1px gainsboro groove;
    color: white;
}

@media (max-width: 480px) {
    /*HEADER SECTION*/
    main, header, footer {
        margin: 0 auto;
        max-width: 95%;
    }
    
     /*END OF THE HEADER SECTION*/
      /*MAIN SECTION*/
    main {
        margin: 0 auto;
        max-width: 100%;
    }

   footer {
     width: 100%;
     left: 0;
     padding: 0;
}
}